html,body{
    margin: 0px;
    padding: 0px;
    /* background-image: url("bg.jpg"); */
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgb(0, 80, 9));
    background-size: 800px 1000px;
    user-select: none;
}
::-webkit-scrollbar{
  width: 0.5rem;
}
::-webkit-scrollbar-track{
  background-color: #004a05;
}
::-webkit-scrollbar-thumb{
  background-color: #008d09;
  border-radius: 10vh;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #54ff5f;
}



.container{
    display: flex;
    max-width: 320px;
    flex-direction: column;
    margin: 30px auto;
    
    
}

h1{
    color: aliceblue;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
}

input{
    color: rgb(255, 255, 255);
    background-color: rgba(172, 172, 172, 0.021);
    border: solid white;
    border-color: rgb(0, 97, 0);
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    margin:10px 0px ;
}

button{
    background-color: rgba(33, 110, 40, 0.699);
    color: aliceblue;
    padding: 15px;
    border-radius: 10px;
    border: 3px;
    border-color: aquamarine;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
}

button:hover{
    background-color: rgb(0, 142, 31);
    transition: 0.3s ease-in-out;
  
}

ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 15px;
    cursor: pointer;
}

ul li{
    background-color: rgb(13, 116, 0);
    padding: 10px;
    box-shadow: 0px 1px 2px rgb(3, 3, 3);
    border-radius: 5px;
    color: aliceblue;
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s ease-in-out;
}

ul li:hover{
    background-color: rgba(49, 196, 9, 0.317);
}

.itemsAdded{
  color: aliceblue;
  font-family: 'Poppins', sans-serif;
  font-size: 3px;
  text-align: center;
}
h3{
    color: #f1f1f1;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    
    /* font-family: 'Poppins', sans-serif; */
}
h4{
    font-size: 30px;
    color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}

p{
    color: #bdbdbd;

    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}

#toggle-button{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 13px;
    right: 10px;  
    
 }
 .menu-ul{
     display: none;
 }
 
 .toggle-menu-items{
    font-family: 'Poppins', sans-serif;
 }


 
 .overlay {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: rgb(0,0,0);
     background-color:  rgba(1, 28, 15, 0.919);
     overflow-x: hidden;
     transition: 0.5s;
   }
   
   .overlay-content {
     position: relative;
     top: 15%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
   }
   
   .overlay a {
     padding: 8px;
     text-decoration: none;
     font-size: 36px;
     color: #818181;
     display: block;
     transition: 0.3s;
   }
   
   
   .overlay a:hover, .overlay a:focus {
     color: #f1f1f1;
     
   }
   
   .overlay .closebtn {
     position: absolute;
     top: 50px;
     padding: 0px;
     height: 0px;
     margin-top: 0px;
     right: 30px;
     font-size: 60px;
   }

   .footer {
    background-color: #003d0e;
    padding: 1px 0;
    color: #828282;
   
    border-top: solid #008d09;
  }
  
  .footer p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .footer a {
    color: #d7d7d7;
    text-decoration: none;
  }
  
  .footer a:hover {
    color: #040404;
  }
  